:root {
    --bgcolor: #e6dad6;
    --color1: #83adb5;
    --color2: #c7bbc9;
    --color4: #50334b;
    --color5: #263438;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, Arial, monospace;
    text-decoration: none;
}

body {
    background-color: var(--bgcolor);
    color: var(--color5);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.mainHeader {
    background-color: var(--color5);
    color: var(--bgcolor);
    padding: 1% 1% 1% 4%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color1);
  }

nav a {
    color: var(--color5);
    padding: 14px 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.aboutMe {
    margin: 15px 10%;
    color: var(--color4);
}

.aboutMe p {
    font-weight: 600;
}

hero {
    justify-content: center;
    text-align: center;
    flex: 1 0 0;
    margin: 0 auto;
    min-width: 200px;
    max-width: 600px;
}

hero header {
    position: relative;
    top: 75%;
    width: 75%;
    padding: 12px 0px;
    background: var(--color5);
    border-color: var(--bgcolor);
    border-width: 7px;
    border-radius: 0 5px 5px 0;
    color: var(--color1);
    z-index: 1;
    font-weight: 900;
}

hero img{
    position: relative;
    width: 100%;
    border-style: solid;
    border-color: var(--color5);
    border-width: 10px;
    border-radius: 12px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    justify-content: center;
    flex: 1 0 0;
    margin: 15px;
    min-width: 250px;
    max-width: 400px;
}
  
.card header {
    position: relative;
    top: 60%;
    width: 75%;
    padding: 6px 0px;
    background: var(--color5);
    border-color: var(--bgcolor);
    border-width: 5px;
    border-radius: 0 5px 5px 0;
    color: var(--color1);
    z-index: 1;
    font-weight: 900;
}
  
.card img {
    position: relative;
    bottom: 9%;
    width: 100%;
    border-style: solid;
    border-color: var(--color5);
    border-width: 7px;
    border-radius: 10px;
}

.contactMe {
    color: var(--color5);
    background-color: var(--color1);    
}

.contactMe h2 {
    margin: 20px 10% 0 10%;
}

.contactMe ul li {
    list-style: none;
    padding: 5px 0;
    font-weight: 600;
    margin: 0 10%;
}


footer {
    text-align: center;
    color: var(--color4);
}