:root {
    --bgcolor: #13293d;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, Arial;
    color:
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.mainHeader {
    padding: 1% 1% 1% 4%;
    background-color: var(--bgcolor);
    color: #fffffff8;
}

nav {
    display: flex;
    justify-content: flex-end;
  }

nav a {
    color: var(--bgcolor);
    padding: 14px 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.aboutMe {
    margin: 3%;
}

.aboutMe p {
    margin: 2.5%;
}

hero {
    display: flex;
    justify-content: center;
    margin: 0 2.5% 20px 2.5%;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    justify-content: center;
    flex: 1 0 0;

    margin: 15px;
    border-style: solid;
    border-color: var(--bgcolor);
    border-width: 7px;
    border-radius: 10px;
    min-width: 400px;
    max-width: 500px;
}
  
.card header {
    position: relative;
    top: 70%;
    width: 75%;
    padding: 20px 0px;
    background: var(--bgcolor);
    border-color: var(--bgcolor);
    border-width: 7px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    z-index: 1;
}
  
.card img {
    position: relative;
    bottom: 27.5px;
    width: 100%
}

.contactMe {
    margin: 0 0 0 30px;
}

footer {
    text-align: center;
}